<img src="<%= @avatar %>" style="width: 100px; height: 100px;">

<h2>Contractor Information</h2>
<table>
    <tr title="This is your unique Discord ID. It is used to identify you in our system. This cannot be changed.">
        <th>ID:</th>
        <td><%= @discord_id %></td>
    </tr>
    <tr title="This is your Discord username. Change it in your Discord settings if needed.">
        <th>Username:</th>
        <td><%= @username %></td>
    </tr>
    <tr title="This is the email associated with your Discord account. Change it in your Discord settings if needed.">
        <th>Email:</th>
        <td><%= @email %></td>
    </tr>
</table>

<h2>Actions</h2>
<%= link_to "Logout", logout_path, data: { turbo_method: :delete }, style: "color: red;" %>